@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background-image: url(../assets/omnitrix.jpg);
    background-size: cover;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 600px;
    width : 400px;
    background-color: #095f0165;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    border-style:double;
    border-color: #00fc0d #000000;
    border-radius: 40px;
}
.font{
    font-size: 65px;
    font-family: "Tiny5";
    text-decoration: none;
    color: #ffffff;
}
.font:hover{
    color: #15fc00;
}
a{ 
    text-decoration: none;
}
.btn{
    height: 100px;
    width: 320px;
    padding: 15px;
    background-color: #000000;
    border-radius: 60px;
    transition: transform 0.9s ease, box-shadow 0.2s ease;
    cursor: pointer;
    color: #ffffff;
    font-size: 30px;
    font-family: cursive;
}
.btn:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 15px #00ff4065;
    background-color: #00ff40bd;
    color: #000000;
}